* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cabinet Grotesk', sans-serif;
}

/*Texto*/

h6 {
  text-align: center;
  margin-top: 45px;
  opacity: 90%;
  padding: 15px;
}

p {
  font-style: normal;
  margin: 10px 0;
  font-weight: 400;
  font-size: 1.5vh;
  line-height: 11px;
  text-align: center;
  opacity: 60%;
}


/*Cuadro*/

ion-item {
  margin: 10px;
  border-radius: 10px;
}


/*Botón*/

ion-button {
  position: relative;
  float: right;
  right: 12px;
  height: 30px;
  opacity: 90%;
}
