<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500&display=swap" rel="stylesheet">

<ion-content color="primary">

  <h6>A continuación tomara foto de alguna identificación oficial suya</h6>

  <p>Asegúrese de estar en un lugar con buena iluminación</p>

  <ion-item color="dark">
  </ion-item>

  <p>*Tome una foto con el mejor enfoque posible</p>
  <p>*Procure que su cámara no se encuentre sucia</p>

  <ion-button color="tertiary" type="submit" [routerLink]="['/face']">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>

</ion-content>
