<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500&display=swap" rel="stylesheet">

<ion-content color="primary">

  <div class="cara">
    <img src="assets/face-id.svg" alt="face-id">
  </div>

  <h5>Registro Facial</h5>

  <h6>Mantenga su rostro dentro del recuadro
    hasta que termine el proceso</h6>

  <p>Asegúrese de no tener cubierto su rostro, <br>
    debe estar en un lugar con buena iluminación</p>

  <ion-item color="dark">
  </ion-item>



  <p>*Procure que su cámara no se encuentre sucia</p>
  <a href="#">¿Por qué es necesario este proceso?</a>

  <ion-button color="tertiary" type="submit" [routerLink]="['/finaliza-registro']">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>

</ion-content>
